body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#conteiner {
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    margin: 0 auto;
    
}

.pokemon {
    padding: 15px;
    width: 200px;
    height: 300px;
   margin: 20px auto;
    
   
}

.info {
    background-color: #e6e6e6;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px black;
   
    
}

.info:hover {
    width: 230px;
    height: 330px;
    background-color: white;
}

.info > p {
    display:  block;
}

.img-container{
    width: 100%;
}

h1 {
    text-align: center;
    
}

nav {
    background-color: red;
    color: white;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    display: flex;
}

nav ul {
    display: flex;
    margin: 0 auto;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    color:black;
    background-color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 10px;
}

nav ul li a:hover {
    padding: 15px;
    border: 2px solid black
}

header {
    background-color: white;
    text-align: center;
}

.logo {
    width: 30%;
    height: 20%;
}

.name {
    background-image: linear-gradient(to right, red ,transparent);
    border-radius: 10px;
}

.number {
    padding-top: 10px;
}